/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #614271;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

 .logo  img {
    width: 100px; /* Пример значения ширины */
    height: 100px; /* Пример значения высоты */
    overflow: hidden; /* Обрезаем изображение, чтобы оно не выходило за пределы круглой формы */
    border-radius: 50%;
}

h1 {
    margin: 10px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.breed {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
}

.breed img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.breed h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
}

.breed p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: #614271;
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
}

footer a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

footer a:hover {
    color: #ff8400;
}